*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
nav ul{
    background-color: rgb(241, 80, 80);
    display: flex;
    color: white;
}
nav ul li{
    list-style: none;
    padding: 40px;
    font-weight: bolder;
    font-size: 20px;
}
nav ul li:hover{
    background-color: whitesmoke;
    color: black;
}
header{
    background-image: url(https://cdn.pixabay.com/photo/2017/10/31/17/44/cherries-2905964_1280.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    padding: 30px;
    padding-top: 9%;
    color: white;
}
.contain h1{
    padding-top: 10px;
}
.contain p{
    text-align: start;
    padding-top: 10px;
}
.banner .contain h1{
    font-size: 40px;
}
button.btn1{
    border: solid 2px white;
    padding: 10px 30px;
    border-radius: 20px;
    background: none;
    margin-top: 25px;
    color: white;
    font-weight: bolder;
}
button.btn1:hover{
    background-color: white;
    color: rgb(158, 32, 32);
}
.container{
    margin-top: 20px;
}
.container h3{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
.container section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.card{
    margin-top: 20px;
    width: 280px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
}
.card img{
    margin-left: 14px;
    margin-top: 15px;
}
.card h3, p{
    text-align: center;
    margin-top: 20px;
}
.card button{
    border: none;
    padding: 5px 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 25%;
    background-color: rgb(241, 80, 80);
    color: white;
}
.card button:hover{
    color: black;
}
.map{
    margin-top: 50px;
    margin: auto;
}
h4{
    text-align: center;
    background-color: white;
    padding: 30px;
    font-size: 30px;
    margin-top: 60px;
}
footer{
    background-color: rgb(241, 80, 80);
    margin-top: 50px;
}
footer h2{
    text-align: center;
    padding: 40px;
    color: white;
}
iframe{  
    border-radius: 20px;
    margin-left: 65px;
}